*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header{
  font-family: Arial, Helvetica, sans-serif;
}

.flex{
  display: flex;  
}
.container{
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;   
  padding: 20px 0;
  
}
.btn{
  padding: 18px 30px;
  border-radius: 30px;
}
.btn.white{
  background-color: white;
}
.btn.black{
  background-color: black;
}
.lightviolet{
  background-color: #7289da;
}
.btn.white a{
  color: black;
}
.color-white{
  color: white;
}
.topbar{
  background-color: #255ee9;
}

.logo-superiore,.login{
  width: 200px;
}

.logo-superiore,.menu,.login,.jumbotron,.logo-inferiore,.bottone{
  align-items: center;
}
.menu,.jumbotron,.logo-inferiore,.bottone{
   justify-content: center;
}
.menu{
 width: calc(100% - 400px);
}
 ul{
  list-style: none;
}
.text-menu ul li{
  padding-right: 20px;
}

.text-menu ul li a, .btn a,.btn.lightviolet,.second-text-menu ul li a{
  text-decoration:none;

}
.text-jumbotron h1,.text-jumbotron p,.button{
  text-align: center;
}
.login{
  justify-content: flex-end;
}

.jumbotron{
  background-image: url(../img/jumbo.png);
  background-size: cover;

}
.text-jumbotron{
  padding: 145px;

}

.text-jumbotron h1{
  font-weight: 800;
}

.text-jumbotron p{
  margin:20px 0;
  line-height: 30px;  
  font-weight: 600;
}

.text-jumbotron .button .btn{
  display: inline-block;
}
.text-jumbotron .button .white a::before{
  content:'\1F817';
  vertical-align: middle;
}
.text-jumbotron .button .white{
  margin-right: 10px;
}

/* /header */

/* main */ /* togliere altezze */

main section{
  padding: 80px;
}

main h1{
  font-size: 45px;
  margin: 30px 0;
}
.sezione-grigia{
  background-color: #f6f6f6;
}
.fourth-item{
  text-align: center;
}
h2{
  margin-bottom: 50px;
}

/* /main */

/* footer */

footer{
  background-color:#23272a;

}
footer h1, ul{
  color:  #7289da;
}
.small-column h1,.social{
  margin: 20px 0;
}
.second-text-menu ul{
  display: block;
}
.second-text-menu ul li{
  margin: 20px;
}
.column:first-child{
  padding: 0 60px 0 40px;
}
.column:not(:first-child){
  padding: 0 60px;
}


.footer-secondario{
  background-color: aquamarine;
  justify-content: space-between;
  margin-top: 30px;
}
.logo-inferiore,.bottone{
  width: 90px;
  background-color: bisque;
}


/* /footer */





