*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header{
  font-family: Arial, Helvetica, sans-serif;
}

.flex{
  display: flex;  
}
.container{
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;   
  padding: 20px 0;
  
}
.btn{
  padding: 18px 30px;
  border-radius: 30px;
}
.btn.white{
  background-color: white;
}
.btn.black{
  background-color: black;
}
.btn.white a{
  color: black;
}
.btn.btn.black a,.text-jumbotron {
  color: white;
}
.topbar{
  background-color: #255ee9;
}

.box,.logo-inferiore,.bottone{
    border: 2px dashed black;
}
.logo-superiore,.login{
  width: 200px;
}
.text-menu,.text-login,.text-bottone{
  font-size: 20px;
}
.logo-superiore,.menu,.login,.jumbotron,.logo-inferiore,.bottone{
  align-items: center;
}
.menu,.jumbotron,.logo-inferiore,.bottone{
   justify-content: center;
}
.menu{
 width: calc(100% - 400px);
}
.text-menu ul{
  list-style: none;
}
.text-menu ul li{
  padding-right: 20px;
}
.text-menu ul li a{
    color: white;
}
.text-menu ul li a, .btn a{
  text-decoration:none;

}
.text-jumbotron h1,.text-jumbotron p,.button{
  text-align: center;
}
.login{
  justify-content: flex-end;
}

.jumbotron{
  background-image: url(../img/jumbo.png);
  background-size: cover;

}
.text-jumbotron{
  padding: 145px;

}

.text-jumbotron h1{
  font-weight: 800;
}

.text-jumbotron p{
  margin:20px 0;
  line-height: 30px;  
  font-weight: 600;
}

.text-jumbotron .button .btn{
  display: inline-block;
}
.text-jumbotron .button .white a::before{
  content:'\1F817';
  vertical-align: middle;
}
.text-jumbotron .button .white{
  margin-right: 10px;
}

/* /header */

/* main */ /* togliere altezze */



.box{
  height:400px;
  margin: 40px 0px;
}
.box.green, .box.lightskyblue,.box.yellow{
    width:100%;
}
.box.lightskyblue{
  background-color: lightskyblue;
}
.box.pink{
  background-color: pink;
  width:calc(100% / 2);
}
.sezione-grigia{
  background-color: lightgray;
}
.sezione-grigia .box.lightskyblue{
  order: 1;
}

.box.green{
  background-color: green;
  height: 800px;
}

/* /main */

/* footer */

footer{
  background-color:#23272a;

}
footer>section:first-child{
    border-bottom: 1px solid white;
}
.box.violet,.box.yellow{
  height: 500px;
}
.box.violet{
  background-color:blueviolet;  
  width: calc(100% / 3);
}
.box.yellow{
  background-color: yellow;
  justify-content: space-evenly;
}
.box-trasparente{
  border: 3px dashed white;
}
.footer-secondario{
  background-color: aquamarine;
  justify-content: space-between;
  margin-top: 30px;
}
.logo-inferiore,.bottone{
  width: 90px;
  background-color: bisque;
}


/* /footer */





